@charset "utf-8";
/* CSS Document */

body:before {
	padding: 0;
	margin: 0;
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url(../img/redesign/nwbackground.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 25px;
}

#header {
	background: url(../img/redesign/rustic.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 25px;
	z-index: 5000;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
}

.fadeInUp {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
}

/* Fonts
font-family: 'Merriweather', serif; 
font-family: 'Open Sans', sans-serif;
*/

/* Colors

#382a19 - dark brown
#ffffff - white-ish
#a5c6ea - light blue
#18389e - blue
#688e52 - light green
#c8b99e - light-grey/brown
#fbf8d6 - creme-y yellow

*/
 
/* Header */
.navs {
	font-family: 'Open Sans', sans-serif;
}
 
#nav-img {
	display: inline-block;
	height: auto;
	max-width: 100%;
	margin-top: -32px;
	margin-left: -25px;
	width: 80% !important;
}
 
#header-bkgd {
	background-color: rgba(24,56,158,0.475); 
}
 
.navbar-inverse {
	 border-color: #222222 !important;
	 border-top: none !important;
	 box-shadow: none !important;
	 border: none !important;
}
 
.navbar .navbar-inverse {
	 border-color: #222222 !important;
	 border-top: none !important;
	 box-shadow: none !important;
	 border: none !important; 
}
 
/* Hero Section */

.carousel {
	width: 100% !important;
	box-sizing: border-box;
}

.car-info {
	font-family: 'Merriweather', serif;
	text-shadow: 3px 3px 5px black !important;
}

header {
	width: 100% !important;
}
 
#carousel-section {
	margin-top: -45px;
	width: 100%;
}

.carousel .carousel-inner {
	width: 100% !important;
	box-sizing: border-box;
}

#carousel-section img {
	width: 100%;
	height: 500px;
}

#description1 {
	margin-bottom: -300px;
}

#description3 {
	margin-bottom: -300px;
}

#description5 {
	margin-bottom: -300px;
}

#description7 {
	margin-bottom: -300px;
}

#description2 {
	margin-top: -200px;
	margin-bottom: -75px;
}

#description4 {
	margin-top: -200px;
	margin-bottom: -75px;
}

#description6 {
	margin-top: -200px;
	margin-bottom: -75px;
}

#description8 {
	margin-top: -200px;
	margin-bottom: -75px;
}

@media (max-width: 767px) {
    #carousel-section img {
        max-width: 100%;
        height: 250px;
    }
	
	#description1, #description2, #description3, #description4, #description5, #description6, #description7, #description8 {
		max-width: 100%;
		height: 50%;
	}
	
	#description1, #description3, #description5, #description7 {
		margin-bottom: -260px;
	}
	
	#description2, #description4, #description6, #description8 {
		margin-top: 0;
		margin-bottom:0;
		max-height: 200px;
	}
}

/* Trending */

@media (max-width: 767px) {
	.facebook {
		max-width: 100%;
	}
}

#trending {
	
}

#trending img {
	size: 80%;
}

#trending-social {
	padding-top: 10px;
	padding-bottom: 10px;
}

#trending-social h3 {
	color: white;
	font-family: 'Merriweather', serif;
	text-shadow: 5px 5px 5px grey;
}

.facebook {
	background-color:white; 
	width: 500px;
	padding: 10px;
	border-radius: 15px 15px 15px 15px;
}
 
/* Services */

#services {
	background: url(../img/traffic-car-vehicle-black-medium.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 25px;
	z-index: 5000;
}

.boxes {
	height: 200px;
	width: 450px;
	margin-top: 25px;
}

@media (max-width: 768px) {
		#services, .boxes {
			height: 100%;
			width: 100%;
		}
	}


/* Featured Videos */

.feature-video {
	font-family: 'Merriweather', serif;
	text-shadow: 5px 5px 5px grey;
	border-bottom: 3px solid #494949;
}

 
/* About Section */

#banner {
	height: 125px;
	width: 350px;
	margin-left: -33px;
	margin-top: 10px;
} 

#about {
}

#col-2 {
	margin-top: 20px;
}

.img-about {
	height: 150px;
	width: 250px;
	margin-bottom: 5px;

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.img-about, #banner {
			height: 105%;
			width: 105%;
		}
}


 
/* Footer */

#footer {
	background: url(../img/redesign/rustic-dark.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 25px;
	z-index: 5000;
}

#footer h1 {
	font-family: 'Merriweather', serif;
	color: white;
}

#footer p {
	font-family: 'Open Sans', sans-serif; 
	color: white;
	font-size: 18pt;
}

#footer img {
	height: 75px;
	width: 75px;
}

.img2 {
	height: 125px !important;
	width: 125px !important;
}

#map-container {
	margin-left: 25px;
	height: 325px;
	width: 325px;
	margin-bottom: 25px;
}
 
#napa {
	width: 250px !important;
}
 
/* Diesel Page */
/* page header section */
 
#diesel-img {
	width: 100% !important;
	z-index: 0;
}
 
 
 
 
 
 
 
 
 
 
 
 
